<p>contact works!</p>


<div class="container">
    <h1>Welcome to {{ title }}!</h1>
    <form>
      <mat-checkbox
        [(ngModel)]="checked"
        name="city"
        value="New Delhi"
        color="primary"
        [disabled]="disabled"
        labelPosition="after"
        (change)="onChange($event)"
        >New Delhi
      </mat-checkbox>
  
      <h2 *ngIf="checked">Welcome to Delhi...
        <img src="assets/images/jhia.png">

      </h2>
  
      <h2>Cities</h2>
      <mat-radio-group
        [(ngModel)]="favouriteCity"
        value="favouriteCity"
        name="city"
        (change)="onChange($event)"
        [disabled]="disabled"
        labelPosition="after"
        >
          <mat-radio-button
            *ngFor="let city of cities" [value]="city" color="primary"
            >{{city}}
          </mat-radio-button>
      </mat-radio-group>
  
      <h2>Your favourite city is: {{ favouriteCity }}</h2>
  
      <mat-form-field class="form-field">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name">
        <mat-hint>Name must be alphabet</mat-hint>
      </mat-form-field>
  
      <mat-form-field class="form-field">
        <input matInput maxlength="6" placeholder="Zip Code" #zipcode />
        <mat-hint align="end">{{zipcode.value.length}}/6</mat-hint>
      </mat-form-field>
  
      <mat-form-field class="form-field">
        <textarea matInput placeholder="Message" maxlength="200" #message></textarea>
        <mat-hint align="start">Leave your message</mat-hint>
        <mat-hint align="end">{{message.value.length}}/200</mat-hint>
      </mat-form-field>
  
      <mat-form-field class="form-field">
        <input matInput placeholder="Email" [formControl]="emailFormControl">
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Select city</mat-label>
        <mat-select [(value)]="selected">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let city of cities" [value]="city">{{city}}</mat-option>
        </mat-select>
      </mat-form-field>
      <h2>Selected city: {{ selected }}</h2>
  
      <button mat-button>Submit</button>
      <button mat-button color="primary">Submit</button>
      <button mat-raised-button color="primary">Submit</button>
      <button mat-stroked-button color="accent">Submit</button>
      <button mat-flat-button color="warn">Submit</button>
      <button mat-fab color="primary">Submit</button>
      <button mat-mini-fab color="primary">+</button>
      <h2>Toggle Button</h2>
      <mat-button-toggle-group name="txtFormat" [(ngModel)]="selectedButton">
        <mat-button-toggle value="bold">Bold</mat-button-toggle>
        <mat-button-toggle value="italic">Italic</mat-button-toggle>
        <mat-button-toggle value="underline">Underline</mat-button-toggle>
      </mat-button-toggle-group>
  
      <p *ngIf="selectedButton=='bold'" [style.fontWeight]="selectedButton">This is paragraph: {{selectedButton}}</p>
      <p *ngIf="selectedButton=='italic'" [style.fontStyle]="selectedButton">This is paragraph: {{selectedButton}}</p>
      <p *ngIf="selectedButton=='underline'" [style.textDecoration]="selectedButton">This is paragraph: {{selectedButton}}</p>
    </form>

    <div class='form-inputs cases-form'>
      <div class='panel'>
      <h3>Patient Details</h3>
      <div class='row'>
      <div class='large-1 columns'>
      <div class="input select optional case_patient_title"><label class="select optional" for="case_patient_attributes_title">Title</label><select class="select optional select2" data-single-gender-titles-map="{&quot;Mr.&quot;:&quot;M&quot;,&quot;Mrs.&quot;:&quot;F&quot;,&quot;Smt.&quot;:&quot;F&quot;,&quot;Kumari&quot;:&quot;F&quot;,&quot;Shri.&quot;:&quot;M&quot;,&quot;Miss.&quot;:&quot;F&quot;,&quot;Master&quot;:&quot;M&quot;,&quot;Mohd.&quot;:&quot;M&quot;,&quot;Ms.&quot;:&quot;F&quot;}" name="case[patient_attributes][title]" id="case_patient_attributes_title"><option value=""></option>
      <option value="Mr.">Mr.</option>
      <option value="Mrs.">Mrs.</option>
      <option value="Smt.">Smt.</option>
      <option value="Kumari">Kumari</option>
      <option value="Shri.">Shri.</option>
      <option value="Miss.">Miss.</option>
      <option value="Master">Master</option>
      <option value="Mohd.">Mohd.</option>
      <option value="Baby">Baby</option>
      <option value="Baby of">Baby of</option>
      <option value="Ms.">Ms.</option>
      <option value="Dr.">Dr.</option></select></div>
      </div>
      <div class='large-3 columns'>
      <div class="input string required case_patient_first_name"><label class="string required" for="case_patient_attributes_first_name"><abbr title="required">*</abbr> First name</label><input class="string required" required="required" aria-required="true" type="text" name="case[patient_attributes][first_name]" id="case_patient_attributes_first_name" /></div>
      </div>
      <div class='large-3 columns'>
      <div class="input string optional case_patient_last_name"><label class="string optional" for="case_patient_attributes_last_name">Last name</label><input class="string optional" type="text" name="case[patient_attributes][last_name]" id="case_patient_attributes_last_name" /></div>
      </div>
      <div class='large-5 columns'>
      <div class="input radio_buttons required case_patient_sex"><label class="radio_buttons required"><abbr title="required">*</abbr> Sex</label><input type="hidden" name="case[patient_attributes][sex]" value="" /><div class="radio radio radio"><input class="radio_buttons required" required="required" aria-required="true" type="radio" value="M" name="case[patient_attributes][sex]" id="case_patient_attributes_sex_m" /><label class="collection_radio_buttons" for="case_patient_attributes_sex_m">Male</label></div><div class="radio radio radio"><input class="radio_buttons required" required="required" aria-required="true" type="radio" value="F" name="case[patient_attributes][sex]" id="case_patient_attributes_sex_f" /><label class="collection_radio_buttons" for="case_patient_attributes_sex_f">Female</label></div></div>
      </div>
      </div>
      <div class='row padded-top'>
      <div class='large-4 columns'>
      <div class='row collapse'>
      <label>
      <abbr title='required'>*</abbr>
      Age
      </label>
      <div class='input-group'>
      <div class="input string required case_patient_age_in_year"><input class="string required" required="required" aria-required="true" type="text" name="case[patient_attributes][age_in_year]" id="case_patient_attributes_age_in_year" /></div>
      <span class='input-group-label'>YRS</span>
      <div class="input string optional case_patient_age_in_month"><input tabindex="-1" class="string optional" type="text" name="case[patient_attributes][age_in_month]" id="case_patient_attributes_age_in_month" /></div>
      <span class='input-group-label'>months</span>
      <div class="input string optional case_patient_age_in_day"><input tabindex="-1" class="string optional" type="text" name="case[patient_attributes][age_in_day]" id="case_patient_attributes_age_in_day" /></div>
      <span class='input-group-label'>days</span>
      </div>
      </div>
      </div>
      <div class='large-3 columns'>
      <div class='row collapse'>
      <label>
      Mobile number
      <div class='input-group'>
      <span class='input-group-label'>+91</span>
      <div class="input tel optional case_patient_contact_mobile_number"><input class="string tel optional" pattern=".{10,10}" type="tel" name="case[patient_attributes][contact_mobile_number]" id="case_patient_attributes_contact_mobile_number" /></div>
      </div>
      </label>
      </div>
      </div>
      <div class='large-2 columns'>
      <div class="input email optional case_patient_contact_email"><label class="email optional" for="case_patient_attributes_contact_email">Email</label><input class="string email optional" type="email" name="case[patient_attributes][contact_email]" id="case_patient_attributes_contact_email" /></div>
      </div>
      <div class='large-3 columns'>
      <div class="input text optional case_patient_address"><label class="text optional" for="case_patient_attributes_address">Address</label><textarea rows="1" tabindex="-1" class="text optional" name="case[patient_attributes][address]" id="case_patient_attributes_address"></textarea></div>
      </div>
      </div>
      <div class='row'>
      <div class='large-3 columns'>
      </div>
      <div class='large-9 columns'></div>
      </div>
      
      </div>
  </div>
  
  
  
