<!-- {{this.addrFrom.value|json}} -->
 <!-- {{data11|json}} -->
<!--<button type="button" (click)="changeJSON()">update inventory</button> -->
<form [formGroup]="addrFrom" fxLayout="column" (ngSubmit)="onSubmit(addrFrom.value)" autocomplete="off">
  <h5 class="card-header"> Case ID: <span *ngIf="false"> {{geCaseType(this.parValue)}}</span> <span style="color:red;font-size: larger;" *ngIf ="this.parValue !== 'conv'"><u><b>{{newid}}</b></u>&nbsp;</span>
    <span *ngIf="showUpdateGIF">Update mode...</span>&nbsp;
    <!-- <img src="/assets/images/updating.gif" alt="add" width="110" height="18" *ngIf="showUpdateGIF"> -->
    <span fxShow fxHide.lt-sm><ul>
      <li class="{{patientEntry}}" title="Patient Entry details">PE</li>
      <li class="{{manageBed}}" title="Bed Management details">BD</li>
      <li class="{{drPrescription}}" title="Doctor Prescription details">DP</li>
      <li class="{{vaccineMan}}" title="Vaccine details">VM</li>
      <li class="{{labMan}}"  title="Lab details">LM</li>
      <li class={{nurseVisit}}  title="Nurse visit details">NV</li>
      <li class="{{ambulanceDetails}}"  title="Ambulance details"> AM</li>
      <li class="{{manageBed}}"  title="OT details">ON</li>
      <!-- <li class="{{medEntry}}"  title="Vaccine details">ME</li> -->
      <li class="{{follupDet}}"  title="Followup details">FD</li>
      
      
     
      <li class="{{dlExp}}"  title="Daily Expense details">DE</li>
      <li class="{{dischargeNote}}"  title="Discharge Report">DR</li>
      
     
    </ul> </span>
    <div class="divHoldsProjectType">
      <span style="color:blue;font-weight: bold;" fxShow fxHide.lt-sm>Project Type&nbsp;</span>
    <mat-radio-group formControlName="opdipd" (change)="radioChange($event.value)" [disabled]="isopdipd">
      <!-- <mat-radio-button value="1">OPD</mat-radio-button>&nbsp;
      <mat-radio-button value="2">IPD</mat-radio-button>&nbsp; -->
      <mat-radio-button value="4">Patho LAB</mat-radio-button>&nbsp;
      <mat-radio-button value="3">All (Manage Hospital)</mat-radio-button>&nbsp;
    </mat-radio-group> 
    
  </div>
  <div class="divHoldsProjectType">
    <span style="color:blue;font-weight: bold;" fxShow fxHide.lt-sm>Treatment Type&nbsp;</span>
    &nbsp; <mat-radio-group [disabled]="disableIPDOPDOption" formControlName="OPDkimbaIPD"
        (change)="radioChangeOPDIPD($event.value)">
        <!-- <mat-radio-button value="1">OPD</mat-radio-button>&nbsp;
<mat-radio-button value="2">IPD</mat-radio-button>&nbsp; -->
        <mat-radio-button value="IPD">IPD</mat-radio-button>&nbsp;
        <mat-radio-button value="OPD">OPD</mat-radio-button>&nbsp;
        <mat-radio-button value="VS">Vaccination </mat-radio-button>

    </mat-radio-group> <span><button type="submit" class="btn btn-success myButton"  >&nbsp;<span
      class="glyphicon glyphicon-floppy-disk"></span> SAVE DATA INSTANTLY</button></span>
     
</div>
<div>
 
</div>
    <!-- <button type="button" mat-raised-button (mouseover)="openDialog()" (click)="openDialog()">Pick one</button> -->
    &nbsp;<button  *ngIf="!CaseRecordStatus" type="button" class="btn btn-success" [disabled]="CalculationDone" (click)="btnDischargePrint()" ><span
      class="glyphicon glyphicon-off"></span> Discharge Report(In Details with Print Option)</button>
  </h5>



  <!-- <div class="solution">

        
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="40%;" fxFlex.xs="80%">
                <h2>Left Card 1</h2>
            </div>
    
            <div fxFlex="40%;" fxFlex.xs="80%">
                <h2>Left Card 2</h2>
            </div>
    
            <div fxFlex="20%;" fxFlex.xs="80%">
                <h2>Left Card 3</h2>
            </div>
        </div>
        </div> -->


  <!-- Name : <input type="text" formControlName="name" /><br/>
    <hr/> -->
  <!-- <button (click)="SavePP()" >Call Child Component Method</button> -->
  <mat-accordion>
    
    <mat-expansion-panel *ngIf="panelOpenStatePatientSH" style="border-radius: 15px;" [expanded]="true" (opened)="panelOpenStatePatient = true"
      (closed)="panelOpenStatePatient = false">
      <!-- <div class="div1">
        &nbsp;  
        <mat-radio-group *ngIf="opdipdVisible" [disabled]="disableIPDOPDOption" formControlName="OPDkimbaIPD" (change)="radioChangeOPDIPD($event.value)">
         
          <mat-radio-button value="IPD">IPD</mat-radio-button>&nbsp;
          <mat-radio-button value="OPD">OPD</mat-radio-button>&nbsp;
          <mat-radio-button value="VS">Vaccination </mat-radio-button>
          
        </mat-radio-group>
      </div> -->
      <mat-expansion-panel-header >
        <mat-panel-title>
          <mat-icon style="color:red"> family_restroom </mat-icon>
          
          <b fxShow fxHide.lt-sm>Patient Data</b>&nbsp;
          <b fxShow fxHide.gt-sm>Patient </b>&nbsp;
          
          &nbsp;<button *ngIf="isEditCase && passOPDkimbaIPD=='OPD'" style="display: inline-block;" type="button"   class="btn btn-info" (click)="addEditExpenseItem(this.parValue,this.addrFrom.value.home.FirstName)"><span
            class="glyphicon glyphicon-print" ></span>
            Convert to IPD</button>
          <!-- <span *ngIf="isEditCase && passOPDkimbaIPD=='OPD'" (click)="addEditExpenseItem(addrFrom.value.IPDOPDId,this.addrFrom.value.home.FirstName)"> <b><i>&nbsp;Convert to IPD</i></b></span> -->
        </mat-panel-title>
        <mat-panel-description class="right-aligned" >
          <span fxShow fxHide.lt-sm> Enter Patient information.</span>
         
          
         
          <button type="submit" class="btn btn-success"  ><span
            class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
          <button style="display: inline-block;" type="button"   (click)="OpenPrescription('patient')" class="btn btn-info"><span
            class="glyphicon glyphicon-print" ></span>
        Print</button>
        
        <mat-icon matTooltip="Regarding Patient section" color="primary" fxShow fxHide.lt-sm (click)="OpenHelpPage('Patient')">help</mat-icon>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-pataient-detail-main #child [events]="eventsSubject.asObservable()" [passOPDkimbaIPD]="passOPDkimbaIPD" [home]="addrFrom.get('home')" [caseType]="parValue"
       [usrName]="usrName" [diectOnline]="'No'" (countChanged)="countChangedHandler($event)" [allStaffParm]='allStaffParm'></app-pataient-detail-main>


    </mat-expansion-panel>
    <hr class="zeroMarginPadding" *ngIf="!activeOtherThanOPD"/>
    <mat-expansion-panel *ngIf="false"  style="border-radius: 15px;" (opened)="panelOpenStateBED = true" 
      (closed)="panelOpenStateBED = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon style="color:red"> bathtub </mat-icon>
          <b>Bed Management</b> &nbsp;&nbsp;
          <button style="display: inline-block;" type="button"    (click)="OpenBedAvailability()"  class="btn btn-info"><span
            class="glyphicon glyphicon-print" ></span>
        Bed Availability Status</button>
        </mat-panel-title>
        <mat-panel-description class="right-aligned">
          Bed alert and price system.
          <button type="submit" class="btn btn-success"  ><span
            class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
          <button style="display: inline-block;" type="button"   fxShow fxHide.lt-sm  *ngIf="isEditCase" (click)="OpenPrescription('Bed')"  class="btn btn-info"><span
           ></span>
        Print</button>
        <mat-icon matTooltip="Regarding Patient section" color="primary" fxShow fxHide.lt-sm (click)="OpenHelpPage('Bed')">help</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-master-bed [BedDetails]="addrFrom.get('BedDetails')" (getSearchStatusChange)="FinalCalculation('')">
      </app-master-bed>
    </mat-expansion-panel>
    <hr class="zeroMarginPadding" *ngIf="!activeOtherThanOPD"/>
    <mat-expansion-panel *ngIf="panelOpenStateBEDSH"  style="border-radius: 15px;" (opened)="panelOpenStateBED = true" 
      (closed)="panelOpenStateBED = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon style="color:red"> bathtub </mat-icon>
          <b fxShow fxHide.lt-sm>Manage Bed</b>&nbsp;&nbsp;
          
          <button style="display: inline-block;border-radius: 15px;" type="button"    (click)="OpenBedAvailability()"  class="btn btn-info"><span
             ></span> &nbsp;
        Bed Availability</button>
        </mat-panel-title>
        <mat-panel-description class="right-aligned" >
          <span fxShow fxHide.lt-sm>Bed alert and price system.</span>
          
          
          <button type="submit" class="btn btn-success"  ><span
            class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
          <button style="display: inline-block;" type="button"   fxShow fxHide.lt-sm  *ngIf="isEditCase"  fxShow fxHide.lt-sm (click)="OpenPrescription('Bed')" class="btn btn-info"><span
            class="glyphicon glyphicon-print" fxShow fxHide.lt-sm></span>
        Print</button>
        <mat-icon matTooltip="Regarding Patient section" color="primary" fxShow fxHide.lt-sm (click)="OpenHelpPage('Bed')">help</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>     
      <app-bed-patient-management [caseid]='caseValue' [BedDetailsVisit]="addrFrom.get('BedDetailsVisit')"></app-bed-patient-management>
   
    </mat-expansion-panel>

   
    <!-- <hr class="zeroMarginPadding" *ngIf="!activeOtherThanOPD"/>
    <mat-expansion-panel *ngIf="panelOpenDoctortoPatientCommentSH" style="border-radius: 15px;" (opened)="panelOpenDoctortoPatientComment = true" 
      (closed)="panelOpenDoctortoPatientComment = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon style="color:red"> view_day </mat-icon>
          <b> Prescription and Advice Management</b>
        </mat-panel-title>
        <mat-panel-description class="right-aligned">
          Enter Medicine and comments as required.
          <button style="display: inline-block;" type="button"     (click)="OpenPrescription('prescription')" class="btn btn-info"><span
            class="glyphicon glyphicon-print" (click)="btnDischargePrint()"></span>
        Print</button>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-doctot-patient-assignment [events]="eventsSubject1.asObservable()"  [caseid]='caseValue' [CaseDetailValues]="addrFrom.value.CaseDetails" [PatientValues]="addrFrom.value.home" [DoctortoPatientCommentMedicine]="addrFrom.get('DoctortoPatientCommentMedicine')"> </app-doctot-patient-assignment>
    </mat-expansion-panel> -->

    <!-- ************** <hr class="zeroMarginPadding" *ngIf="!activeOtherThanOPD"/>
    <mat-expansion-panel *ngIf="panelOpenDoctortoPatientCommentSH" style="border-radius: 15px;" (opened)="panelOpenDoctortoPatientComment = true" 
      (closed)="panelOpenDoctortoPatientComment = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon style="color:red"> view_day </mat-icon>
          <b> Prescription and Advice Management</b>
        </mat-panel-title>
        <mat-panel-description class="right-aligned">
          Enter Medicine and comments as required.
          <button style="display: inline-block;" type="button"     (click)="OpenPrescription('prescription')" class="btn btn-info"><span
            class="glyphicon glyphicon-print" (click)="btnDischargePrint()"></span>
        Print</button>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-doctor-patient-assignment-redev [events]="eventsSubject1.asObservable()"  [caseid]='caseValue' [CaseDetailValues]="addrFrom.value.CaseDetails" [PatientValues]="addrFrom.value.home" [DoctortoPatientCommentMedicine]="addrFrom.get('DoctortoPatientCommentMedicineReDevelop')"> </app-doctor-patient-assignment-redev>
    </mat-expansion-panel> -->

    <hr class="zeroMarginPadding" *ngIf="!activeOtherThanOPD"/>
    <mat-expansion-panel *ngIf="panelOpenStateDoctortoPatientCommentMedicineReDevelopSH" style="border-radius: 15px;" (opened)="panelOpenStateDoctortoPatientCommentMedicineReDevelop = true" 
      (closed)="panelOpenStateDoctortoPatientCommentMedicineReDevelop = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon style="color:red"> view_day </mat-icon>
          
          <b fxShow fxHide.lt-sm>Doctors Advice and Prescription</b>&nbsp;
          <b fxShow fxHide.gt-sm>Advice/Prescription </b>&nbsp;
        </mat-panel-title>
        <mat-panel-description class="right-aligned">
          <span fxShow fxHide.lt-sm>Enter Medicine and comments as required.</span>
          <button type="submit" class="btn btn-success"  ><span
            class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
          <button style="display: inline-block;" type="button"   fxShow fxHide.lt-sm  *ngIf="isEditCase"   (click)="OpenPrescription('prescription')" class="btn btn-info"><span
            class="glyphicon glyphicon-print" (click)="btnDischargePrint()"></span>
        Print</button>
        <mat-icon matTooltip="Regarding Patient section" color="primary" fxShow fxHide.lt-sm (click)="OpenHelpPage('Prescription')">help</mat-icon>
        
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-doctor-patient-assignment-redev [events]="eventsSubject1.asObservable()"  [caseid]='caseValue' 
      [CaseDetailValues]="addrFrom.value.CaseDetails" [caseid]='caseValue' [PatientValues]="addrFrom.value.home" 
      [DoctortoPatientCommentMedicineReDevelop]="addrFrom.get('DoctortoPatientCommentMedicineReDevelop')" [allStaffParm]='allStaffParm'></app-doctor-patient-assignment-redev>
    </mat-expansion-panel>

    
    <hr class="zeroMarginPadding" *ngIf="!activeOtherThanOPD"/>
    <mat-expansion-panel *ngIf="panelOpenStateVaccineSH"  style="border-radius: 15px;" (opened)="panelOpenStateVaccine = true" 
    (closed)="panelOpenStateVaccine = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon style="color:red"> create </mat-icon>
        <!-- <b>Vaccine Management</b> -->
        <b fxShow fxHide.lt-sm>Vaccine Management</b>&nbsp;
        <b fxShow fxHide.gt-sm>Manage Vaccine </b>&nbsp;
      </mat-panel-title>
      <mat-panel-description class="right-aligned">
        <span fxShow fxHide.lt-sm>vaccine applied details.</span>
        
        <button type="submit" class="btn btn-success"  ><span
          class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
        <button style="display: inline-block;" type="button"   fxShow fxHide.lt-sm  *ngIf="isEditCase"   (click)="OpenPrescription('Vaccine')" class="btn btn-info"><span
          class="glyphicon glyphicon-print" ></span>
      Print</button>
      <mat-icon matTooltip="Regarding Patient section" color="primary" fxShow fxHide.lt-sm (click)="OpenHelpPage('Vaccine')">help</mat-icon>
        
      </mat-panel-description> 
    </mat-expansion-panel-header>     
    <app-vaccine-patient-management [caseid]='caseValue' [VaccineDetailsVisit]="addrFrom.get('VaccineDetailsVisit')"
    [allVaccinations] = "VaccineCategories"
    ></app-vaccine-patient-management>
    <hr class="zeroMarginPadding" *ngIf="!activePathoLAB"/>
  </mat-expansion-panel>
    <hr class="zeroMarginPadding" *ngIf="!activePathoLAB"/>
    <mat-expansion-panel *ngIf="panelOpenStateLABSH" style="border-radius: 15px;" (opened)="panelOpenStateLAB = true" 
      (closed)="panelOpenStateLAB = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon style="color:red"> local_hospital </mat-icon>
          <!-- <b>LAB Management</b> -->
          <b fxShow fxHide.lt-sm>LAB Management</b>&nbsp;
          <b fxShow fxHide.gt-sm>Manage LAB </b>&nbsp;
        </mat-panel-title>
        <mat-panel-description class="right-aligned">
          <span fxShow fxHide.lt-sm>Enter and select Laboratory Test as required.</span>
          <button style="display: inline-block;" type="button"    fxShow fxHide.lt-sm  *ngIf="isEditCase"   (click)="OpenPrescription('Lab')" class="btn btn-info"><span
            class="glyphicon glyphicon-print" (click)="btnDischargePrint()"></span>
        Print</button>
        <mat-icon matTooltip="Regarding Patient section" color="primary" fxShow fxHide.lt-sm (click)="OpenHelpPage('Lab')">help</mat-icon>
        
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-case-details [CaseDetails]="addrFrom.get('CaseDetails')" [allStaffParm]='allStaffParm'></app-case-details>
    </mat-expansion-panel>
    <hr class="zeroMarginPadding" *ngIf="!activeOtherThanOPD"/>
    <mat-expansion-panel *ngIf="panelOpenStateNurseVisitSH" style="border-radius: 15px;" (opened)="panelOpenStateNurseVisit = true" 
      (closed)="panelOpenStateNurseVisit = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon style="color:red"> view_day </mat-icon>
          <b>Nurse Visit</b>
        </mat-panel-title>
        <mat-panel-description class="right-aligned">
          <span fxShow fxHide.lt-sm>Enter Nurse Visit observations as required.</span>
          
          <button type="submit" class="btn btn-success"  ><span
            class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
          <button type="button" style="display: inline-block;"  fxShow fxHide.lt-sm  *ngIf="isEditCase"  class="btn btn-info" (click)="OpenPrescription('nurse')"><span
            class="glyphicon glyphicon-print"></span>
        Print</button>
        <mat-icon matTooltip="Regarding Patient section" color="primary" fxShow fxHide.lt-sm (click)="OpenHelpPage('Nurse')">help</mat-icon>
        
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-nurse-assignment [caseid]='caseValue' [NurseVisit]="addrFrom.get('NurseVisit')" [allStaffParm]='allStaffParm'></app-nurse-assignment>
    </mat-expansion-panel>
<!-- 
    <hr class="zeroMarginPadding" *ngIf="!activePathoLAB"/>
    <mat-expansion-panel *ngIf="panelOpenStateLABSH" style="border-radius: 15px;" (opened)="panelOpenStateLAB = true" 
      (closed)="panelOpenStateLAB = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon style="color:red"> local_hospital </mat-icon>
          <b>LAB Management</b>
        </mat-panel-title>
        <mat-panel-description class="right-aligned">
          Enter and select Laboratory Test as required.
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-case-details [CaseDetails]="addrFrom.get('CaseDetails')"></app-case-details>
    </mat-expansion-panel> -->

    <hr class="zeroMarginPadding" *ngIf="!activeOtherThanOPD"/>
    <mat-expansion-panel *ngIf="panelOpenStateAmbulanceVisitSH" style="border-radius: 15px;" (opened)="panelOpenStateAmbulanceVisit = true" 
      (closed)="panelOpenStateAmbulanceVisit = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon style="color:red"> commute </mat-icon>
          <b>Manage Ambulance</b>
        </mat-panel-title>
        <mat-panel-description class="right-aligned">
          <span fxShow fxHide.lt-sm> Ambulance Details as required.</span>
         
          <button type="submit" class="btn btn-success"  ><span
            class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
          <button style="display: inline-block;" type="button"   fxShow fxHide.lt-sm  *ngIf="isEditCase"  (click)="OpenPrescription('Ambulance')" class="btn btn-info"><span
            class="glyphicon glyphicon-print" ></span>
        Print</button>
        <mat-icon matTooltip="Regarding Patient section" color="primary" fxShow fxHide.lt-sm (click)="OpenHelpPage('Ambulance')">help</mat-icon>
        
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-ambulance-management [caseid]='caseValue' [AmbulanceVisit]="addrFrom.get('AmbulanceVisit')" ></app-ambulance-management>
    </mat-expansion-panel>
    
    <!-- Original <hr class="zeroMarginPadding" *ngIf="!activeOPD"/>
    <mat-expansion-panel *ngIf="panelOpenStateOPDSH" style="border-radius: 15px;" (opened)="panelOpenStateOPD = true" 
      (closed)="panelOpenStateOPD = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon style="color:red"> accessible </mat-icon>
          <b>OPD Management</b>
        </mat-panel-title>
        <mat-panel-description class="right-aligned">
          Enter OPD related Data as required.
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-outdoor-master [OPD]="addrFrom.get('OPD')"></app-outdoor-master>
    </mat-expansion-panel> -->
    <hr class="zeroMarginPadding" *ngIf="false"/>
    <mat-expansion-panel *ngIf="false" style="border-radius: 15px;" (opened)="panelOpenStateOPD = true" 
      (closed)="panelOpenStateOPD = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon style="color:red"> accessible </mat-icon>
          <b>OPD Management</b>
        </mat-panel-title>
        <mat-panel-description class="right-aligned">
          Enter OPD related Data as required.
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-outdoor-master [OPD]="addrFrom.get('OPD')"></app-outdoor-master>
    </mat-expansion-panel>
    
   

    <hr class="zeroMarginPadding" *ngIf="!activeOtherThanOPD"/>
    <mat-expansion-panel  *ngIf="panelOpenStateOTSH" style="border-radius: 15px;" (opened)="panelOpenStateOT = true" 
      (closed)="panelOpenStateOT = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon style="color:red"> bathtub </mat-icon>
          <b>OT Notes</b>
        </mat-panel-title>
        <mat-panel-description class="right-aligned">
          <span fxShow fxHide.lt-sm>  OT Details and price system.</span>
         
          <button type="submit" class="btn btn-success"  ><span
            class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
          <button style="display: inline-block;" type="button"  fxShow fxHide.lt-sm  *ngIf="isEditCase"   (click)="OpenPrescription('OT')"  class="btn btn-info"><span
            class="glyphicon glyphicon-print" ></span>
        Print</button>
        <mat-icon matTooltip="Regarding Patient section" color="primary" fxShow fxHide.lt-sm (click)="OpenHelpPage('OT')">help</mat-icon>
        
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-ot-assignment [caseid]='caseValue' [OTDetails]="addrFrom.get('OTDetails')" (getSearchStatusChange)="FinalCalculation('')">
      </app-ot-assignment>
    </mat-expansion-panel>

   



   
   

   
   



    <hr class="zeroMarginPadding" *ngIf="!activeOtherThanOPD"/>
    <mat-expansion-panel *ngIf="panelOpenStateDoctorVisitSH" style="border-radius: 15px;" (opened)="panelOpenStateDoctorVisit = true" 
      (closed)="panelOpenStateDoctorVisit = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon style="color:red"> view_day </mat-icon>
          <b>Pharmacy</b>
        </mat-panel-title>
        <mat-panel-description class="right-aligned">
          All medicine used.
          <button style="display: inline-block;" type="button"  fxShow fxHide.lt-sm  *ngIf="isEditCase"  (click)="OpenPrescription('Pharmacy')"  class="btn btn-info"><span
            class="glyphicon glyphicon-print" ></span>
        Print</button>
        <mat-icon matTooltip="Regarding Patient section" color="primary" fxShow fxHide.lt-sm (click)="OpenHelpPage('Pharmacy')">help</mat-icon>
        
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-farmacy-patient-details [caseid]='caseValue' [allFarmaParm]='farmacyDeliveryToPatientData'></app-farmacy-patient-details>
    </mat-expansion-panel>

    





    <hr class="zeroMarginPadding" *ngIf="!activeOtherThanOPD"/>
    
    <mat-expansion-panel *ngIf="panelOpenStateDoctorVisitSH"  style="border-radius: 15px;" (opened)="panelOpenStateDoctorVisit = true" 
      (closed)="panelOpenStateDoctorVisit = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon style="color:red"> view_day </mat-icon>
          <b>Follow-up </b>
        </mat-panel-title>
        <mat-panel-description class="right-aligned">
          <span fxShow fxHide.lt-sm>  Enter daily Doctor Visit as required.</span>
          
          <button type="submit" class="btn btn-success"  ><span
            class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
          <button style="display: inline-block;" type="button"  fxShow fxHide.lt-sm  *ngIf="isEditCase"  (click)="OpenPrescription('DoctorVisit')"  class="btn btn-info"><span
            class="glyphicon glyphicon-print" ></span>
        Print</button>
        <mat-icon matTooltip="Regarding Patient section" color="primary" fxShow fxHide.lt-sm (click)="OpenHelpPage('Followup')">help</mat-icon>
        
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-doctor-regular-followup [caseid]='caseValue' [DoctorVisit]="addrFrom.get('DoctorVisit')" [allStaffParm]='allStaffParm'></app-doctor-regular-followup>
    </mat-expansion-panel>



    <hr class="zeroMarginPadding" *ngIf="!activeOtherThanOPD"/>
    <mat-expansion-panel *ngIf="panelOpenStateDailyExpenseSH"  style="border-radius: 15px;" (opened)="panelOpenStateDailyExpense = true" 
      (closed)="panelOpenStateDailyExpense = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon style="color:red"> view_day </mat-icon>
          <b>Daily Expenses</b>
        </mat-panel-title>
        <mat-panel-description class="right-aligned">
          <span fxShow fxHide.lt-sm>  Enter daily expense as required.</span>
          
          <button type="submit" class="btn btn-success"  ><span
            class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
          <button style="display: inline-block;" type="button"   fxShow fxHide.lt-sm  *ngIf="isEditCase"  (click)="OpenPrescription('DailyExp')" class="btn btn-info"><span
            class="glyphicon glyphicon-print" ></span>
        Print</button>
        <mat-icon matTooltip="Regarding Patient section" color="primary" fxShow fxHide.lt-sm (click)="OpenHelpPage('DailyExpense')">help</mat-icon>
        
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-daily-expense [caseid]='caseValue' [DailyExpense]="addrFrom.get('DailyExpense')" (getSearchStatusChange)="FinalCalculation('')"></app-daily-expense>
    </mat-expansion-panel>


    <hr class="zeroMarginPadding" *ngIf="!activeOtherThanOPD"/>
    <mat-expansion-panel  *ngIf="panelOpenStateOTSH" style="border-radius: 15px;" (opened)="panelOpenStateOT = true" 
      (closed)="panelOpenStateOT = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon style="color:red"> bathtub </mat-icon>
          <b>Discharge Note</b>
        </mat-panel-title>
        <mat-panel-description class="right-aligned" >
          <span fxShow fxHide.lt-sm>   Discharge Comments and Advice.</span>
         
          <button type="submit" class="btn btn-success"  ><span
            class="glyphicon glyphicon-floppy-disk"></span> SAVE</button>
          <button style="display: inline-block;" type="button"   fxShow fxHide.lt-sm  *ngIf="isEditCase"  (click)="OpenPrescription('DischargeaRep')" class="btn btn-info"><span
            class="glyphicon glyphicon-print" ></span>
        Print</button>
        <mat-icon matTooltip="Regarding Patient section" color="primary" fxShow fxHide.lt-sm (click)="OpenHelpPage('Discharge')">help</mat-icon>
        
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-patient-discharge-note [DischargeNote]="addrFrom.get('DischargeNote')" >
      </app-patient-discharge-note>
    </mat-expansion-panel>



    <hr class="zeroMarginPadding"/>
    <mat-expansion-panel  *ngIf="panelOpenStateBILLSH" style="border-radius: 15px;" (opened)="panelOpenStateBILL = true" (closed)="panelOpenStateBILL = false" (click)="FinalCalculation('')">
      <mat-expansion-panel-header style="border-radius: 15px;">
        <mat-panel-title>
          <mat-icon style="color:red"> account_balance </mat-icon>
          <b>Billing Management</b>
        </mat-panel-title>
        <mat-panel-description class="right-aligned">
          <span fxShow fxHide.lt-sm>   Billing section(It tracks all the billing information).</span>
         
          <button style="display: inline-block;" type="button"   fxShow fxHide.lt-sm  *ngIf="isEditCase"  (click)="OpenBillPrint(this.parValue,'Billing')" class="btn btn-info"><span
            class="glyphicon glyphicon-print" ></span>
        Print</button>
        <mat-icon matTooltip="Regarding Patient section" color="primary" fxShow fxHide.lt-sm (click)="OpenHelpPage('Billing')">help</mat-icon>
        <mat-icon matTooltip="Regarding Patient section" color="primary" (click)="OpenCalculator()">domain</mat-icon>
        
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-payment-details #paymentDetails [PaymentDetails]="addrFrom.get('PaymentDetails')" [caseid]='parValue'
        [siblings]="siblings" [TotalAmountRecived]='TotalAmountRecived' [paymentParams]='paymentParams' [ServiceType]='serviceType'></app-payment-details>


    </mat-expansion-panel>
  </mat-accordion>

<hr class="zeroMarginPadding" />
  <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">


    <div class="col-md-7" *ngIf="CaseRecordStatus">
      <button type="button" class="btn btn-success" (click)="CancelMe()"><span
        class="glyphicon glyphicon-off"></span> Cancel</button>
      <button *ngIf="showBasedOnRole" type="button" class="btn btn-success" (click)="FinalCalculation('')"><span
          class="glyphicon glyphicon-tasks"></span> Final Calculation</button>
      <button type="submit" class="btn btn-success"  ><span
          class="glyphicon glyphicon-floppy-disk"></span> {{SubmitButtonNameDynamically}}</button>
          <button type="button" class="btn btn-success" *ngIf="showBasedOnRole" [disabled]="CalculationDone" 
          (click)="OpenBillPrint(this.parValue,'Billing')" ><span
            class="glyphicon glyphicon-print"></span> Bill Show/Print</button>
          <button type="button" class="btn btn-success" 
          *ngIf="this.parValue !== 'Add' && this.parValue !== 'Addnew' && this.parValue !== '' " (click)="CloseTheCase()" ><span
            class="glyphicon glyphicon-off"></span> Close the CASE (Discharged <span style="color:red">&#10003;</span>)</button>

    </div>
    
    <div class="col-md-4" *ngIf="!CaseRecordStatus">
      <button type="button" class="btn btn-success" (click)="CancelMe()"><span
        class="glyphicon glyphicon-off"></span> Close/Home</button> &nbsp;
        <span style="color:red"> * Closed CASE. Data modication are not allowed.</span>
       </div>
  </div>
  <hr class="zeroMarginPadding" />
  <mat-accordion>
    <mat-expansion-panel *ngIf="panelOpenStatePHSH" style="border-radius: 15px;" (opened)="panelOpenStatePH = true" 
    (closed)="panelOpenStatePH = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon style="color:green"> fact_check </mat-icon>
          <b>Payment History  <u><b>{{newid}}</b></u></b>
        </mat-panel-title>
        <mat-panel-description class="right-aligned">
          <span fxShow fxHide.lt-sm>   Detail payments by Patient.</span>
         
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-payment-history [caseid]='caseValue'></app-payment-history>


    </mat-expansion-panel>
  </mat-accordion>



</form>


<!-- {{addrFrom.value | json}} -->