@media print {
body {margin-top: 0px;margin-left: 0px;height: 100%;}
h2{background-color: red;}
.abc{background-color: red;}
.vl {
    border-left: 6px solid black;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 150px;
  }

table, th, td {
    border: 1px solid rgb(202, 200, 200);
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;
    font-weight: bold;
  }

  .table1 {
    border: 0px  rgb(202, 200, 200);
    border-collapse: collapse;
  }
}

.close-button{
  float: right;
  top:-24px;
  right:-24px;
}

.close-icon {
  transition: 1s ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg);
}

::ng-deep .icon-outside .close-button{
  float: right;
  top:-52px;
  right:-52px;
}

::ng-deep .icon-outside .mat-dialog-container {
 overflow: unset
}
  
 
