
<!-- dialog-box.component.html -->
<h3 mat-dialog-title>Current Execution :: <strong>{{action}}</strong></h3>


<div mat-dialog-content>
    <div *ngIf="action != 'Delete'; else elseTemplate">
        <!-- <mat-form-field >
            <input placeholder="{{action}} Name" matInput [(ngModel)]="local_data.Name">
        </mat-form-field>
        <mat-form-field>
            <input placeholder="{{action}} Description" matInput [(ngModel)]="local_data.Description">
        </mat-form-field> -->

        <div class="container" *ngIf="!post; else forminfo">
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
                

                <div class="row">
                    <div class="form-group col-xs-6" >
                        <mat-form-field class="form-element">
                            <input matInput placeholder="Name" formControlName="Name">
                        </mat-form-field>
                    </div>
                    <div class="form-group col-xs-6" >
                        <mat-form-field class="form-element">
                            <input matInput placeholder="Order" formControlName="Order">
                        </mat-form-field>
                       
                    </div>
                    
                </div>




                <div class="row">
                    <div class="form-group col-xs-6" matLine >
                        <!-- <mat-radio-group aria-label="Select an option" formControlName="Status" placeholder="Status" style="padding-top: 15px;" >
                            <mat-radio-button checked=true value=true>Active</mat-radio-button>
                            <mat-radio-button value=false>InActive</mat-radio-button>
                          </mat-radio-group> -->
                          <mat-checkbox style="padding-top: 15px;" formControlName="Status">Active/InActive</mat-checkbox>&nbsp;
                    </div>
                    
                    <div class="form-group col-xs-6" >
                        <mat-form-field class="form-element">
                            <input matInput placeholder="Description" formControlName="Description">
                        </mat-form-field>
                    </div>
                    
                </div>

                <div class="row">
                    
                   
                    
                </div>

                

                
            </form>
        </div>

        <ng-template #forminfo>
            <div class="container">
                {{ post | json }}
            </div>
        </ng-template>

    </div>
    <ng-template #elseTemplate>
        Sure to delete <b>{{local_data.name}}</b>?
    </ng-template>
</div>


<hr/>
<div class="row"  style="padding-left:36px;" mat-dialog-actions>
    <div class="form-group col-xs-2">
        <button class="btn btn-success" (click)="doAction(action)"><span class="glyphicon glyphicon-off"></span> {{action}}</button>
        </div>
    <div class="col-md-9">
        <button class="btn btn-success" (click)="closeDialog()" color="warn"> <span class="glyphicon glyphicon-off"></span>Cancel</button>
    </div>
</div>


<!-- {{this.formGroup.value|json}} -->