<form [formGroup]="patientCategory">
<!-- {{asyncPipeNewModifyCase|json}}
Total is {{total}} -->
<div class="form-row">

  <!-- <div class="form-group col-md-12" style="float:left">
    <h3>Balance sheet Department wise: </h3>
    
    <input type="checkbox" (change)="eventCheck($event)" /> Activate Tab Mode
  </div> -->
  <hr/>
</div>
<div class="container1">
  <div fxFlex>
    <mat-form-field >
      <input matInput (keyup)="applyFilter($event.target.value)"
        placeholder="Filter for data" name="filterVal" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="filterVal">
    </mat-form-field>
    
      
  
      
     
    
  </div>
</div>
<div class="container1">
 
 


  <div fxFlex>
   
    <div fxFlex>
      <div>
        <mat-form-field >
          <mat-label>Select Department:</mat-label>
        <mat-select  (valueChange)="changeValue($event)" formControlName="patientCategory">
          <mat-option *ngFor="let catalog of IncomeDeptType" [value]="catalog">{{catalog}}</mat-option>
         </mat-select>
        </mat-form-field> &nbsp;
      </div>
    </div>
  </div>

  <div fxFlex>

    <mat-form-field >

      <input matInput readonly [matDatepicker]="FollowupStartDateF1" placeholder="From Date" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="fromdate" (click)="FollowupStartDateF1.open()" (focus)="FollowupStartDateF1.open()" readonly>
      <mat-datepicker-toggle matSuffix [for]="FollowupStartDateF1"></mat-datepicker-toggle>
      <mat-datepicker #FollowupStartDateF1></mat-datepicker>
    </mat-form-field>
</div>&nbsp;
<div fxFlex>
  
    <mat-form-field >

      <input matInput readonly [matDatepicker]="FollowupStartDateF2" placeholder="To Date" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="todate" (click)="FollowupStartDateF2.open()" (focus)="FollowupStartDateF2.open()" readonly>
      <mat-datepicker-toggle matSuffix [for]="FollowupStartDateF2"></mat-datepicker-toggle>
      <mat-datepicker #FollowupStartDateF2></mat-datepicker>
    </mat-form-field>

  </div>
  <div fxFlex>
    <div>      

        <button type="button" (click)="ShowBalnacesheetFromToDataFromCalendar(fromdate,todate)" class="btn btn-success myButton"><span
          class="glyphicon glyphicon-edit"></span>
        Cash Book</button>

        <h2><b>Total is: </b>{{total| currency :'INR':'symbol':'1.2-2'}}</h2>
    </div>
  </div>

 


</div>
<!-- <input type="text" name="UserName" class="form-control"  (keyup)="applyFilter($event.target.value)"
      [(ngModel)]="UserName" placeholder="Username" (input)="applyFilter($event.target.value)">
   Filter: {{UserName}} -->
<hr style="padding:0px;margin:1px;" />
<div class="example-header" style="width:99%;">


  <button type="button" (click)="exportArray()" class="btn btn-success myButton"><span
      class="glyphicon glyphicon-download"></span>
    Export to EXCEL</button>
  <div class="example-container mat-elevation-z8" #mytable1>

    <!-- <button mat-button (click)=(click)="openDialog('Add',{},element.UnqueID,'Add')" mat-flat-button color="primary">Add Row</button> -->

    <mat-table id="ExampleMaterialTable" [dataSource]="dataSource" matSort #mytable class="my-table mat-elevation-z8"
      style="background-color:#FFFFFF;border-radius: 2em; border:2px #6D7B8D; padding:5px;width:99%;
      table-layout:fixed;">

      <ng-container matColumnDef="slno">
        <mat-header-cell *matHeaderCellDef class="HeaderStyle"> Slno </mat-header-cell>
        <mat-cell *matCellDef="let item; let i = index"> <span class="mobile-label ">Serial No:</span>
          {{ (paginatorRef.pageIndex * paginatorRef.pageSize) + (i + 1) }} </mat-cell>

      </ng-container>


      <!-- Id Column -->
      <ng-container matColumnDef="UnqueID">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="HeaderStyle"> Case ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> <span class="mobile-label">ID:</span>
          <ul style="padding:0px;margin:1px;">
            <li style="padding:0px;margin:1px;">
              <u style="cursor:pointer;color:blue" (click)="addEditExpenseItem(element,element.Home.FirstName)">
                {{element.IPDOPDId}} </u> (<span style="color:red">{{element.CaseStatus.charAt(0)}}</span>)
            </li>

            <li *ngIf="false" style="padding:0px;margin:1px;">
              <u style="cursor:pointer;color:blue" (click)="addEditExpenseItem(element,element.Home.FirstName)">
                {{element.UnqueID}} </u> (<span style="color:red">{{element.CaseStatus.charAt(0)}}</span>)
            </li>
            
          </ul>
        </mat-cell>
      </ng-container>

      <!-- <ng-container matColumnDef="ID">
                <mat-header-cell *matHeaderCellDef  mat-sort-header class="HeaderStyle"> ID </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.IPDOPDId}} </mat-cell>
              </ng-container> -->


      <!-- Id Column -->
      <ng-container matColumnDef="DateStart">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="HeaderStyle"> Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> <span class="mobile-label">Date:</span> {{element.DateStart}} </mat-cell>
      </ng-container>
      <!-- <ng-container matColumnDef="Uname">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="HeaderStyle"> Uname </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Home.RefferDoctorName}} </mat-cell>
      </ng-container> -->
      <!-- <ng-container matColumnDef="Loc">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="HeaderStyle"> Loc </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Location}} </mat-cell>
      </ng-container> -->

      <!-- <ng-container matColumnDef="DateStart">
                <mat-header-cell *matHeaderCellDef  mat-sort-header class="HeaderStyle"> Date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.DateStart}} </mat-cell>
              </ng-container> -->

   

              <ng-container matColumnDef="IPDOPDId">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="HeaderStyle"> ID </mat-header-cell>
                <mat-cell *matCellDef="let element"> <span class="mobile-label">ID:</span> {{element.IPDOPDId}} </mat-cell>
              </ng-container>
      
     
      <ng-container matColumnDef="CaseStatus">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="HeaderStyle"> Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> <span class="mobile-label">Status:</span> {{element.CaseStatus}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="PaymentHistory">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="HeaderStyle"> Amount </mat-header-cell>
        <mat-cell *matCellDef="let element"> <span class="mobile-label">Amount:</span>
          <ul style="padding:0px;margin:1px;">
            <li style="padding:0px;margin:1px;" *ngIf="EarlierPayment">
              <u >
                EarlierPayment:&nbsp;</u> <span style="color:red">{{element.PaymentHistory[0].EarlierPayment| currency :'INR':'symbol':'1.2-2'}}</span>
            </li>

            <li style="padding:0px;margin:1px;" *ngIf="OPDCharge"> 
              <u>
                OPDCharge:&nbsp;</u> <span style="color:red">{{element.PaymentHistory[0].OPDCharge| currency :'INR':'symbol':'1.2-2'}}</span>
            </li>
            <li style="padding:0px;margin:1px;" *ngIf="DoctorCharge">
              <u  >
                DoctorCharge:&nbsp;</u> <span style="color:red">{{element.PaymentHistory[0].DoctorCharge| currency :'INR':'symbol':'1.2-2'}}</span>
            </li>

            <li style="padding:0px;margin:1px;" *ngIf="NurseCharge">
              <u>
                NurseCharge:&nbsp;</u> <span style="color:red">{{element.PaymentHistory[0].NurseCharge| currency :'INR':'symbol':'1.2-2'}}</span>
            </li>
            <li style="padding:0px;margin:1px;" *ngIf="LabTestCharge">
              <u>
                LabTestCharge:&nbsp;</u> <span style="color:red">{{element.PaymentHistory[0].LabTestCharge| currency :'INR':'symbol':'1.2-2'}}</span>
            </li>

            <li style="padding:0px;margin:1px;" *ngIf="FarmaCharge">
              <u>
                FarmaCharge:&nbsp;</u> <span style="color:red">{{element.PaymentHistory[0].FarmaCharge| currency :'INR':'symbol':'1.2-2'}}</span>
            </li>
            <li style="padding:0px;margin:1px;" *ngIf="BedCharge">
              <u>
                BedCharge:&nbsp;</u> <span style="color:red">{{element.PaymentHistory[0].BedCharge==''?'0':element.PaymentHistory[0].BedCharge| currency :'INR':'symbol':'1.2-2'}}</span>
            </li>

            <li style="padding:0px;margin:1px;" *ngIf="DailyExpense">
              <u>
                DailyExpense:&nbsp;</u> <span style="color:red">{{element.PaymentHistory[0].DailyExpense| currency :'INR':'symbol':'1.2-2'}}</span>
            </li>
            <li style="padding:0px;margin:1px;" *ngIf="RegdCharge">
              <u>
                Regd Charge:&nbsp;</u> <span style="color:red">{{element.PaymentHistory[0].RegdCharge| currency :'INR':'symbol':'1.2-2'}}</span>
            </li>
            
            <hr color="red"/>
            <li style="padding:0px;margin:1px;" *ngIf="caseRecordTotal">
              <u>
                Case Total:&nbsp;</u> <span style="color:red">{{ConvertStringToNumber(element.PaymentHistory[0].Amount, element.PaymentHistory[0].EarlierPayment)| currency :'INR':'symbol':'1.2-2'}}</span>
            </li>
            
          </ul>
        </mat-cell>
      </ng-container>
      <!-- <ng-container matColumnDef="Location">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="HeaderStyle"> Site </mat-header-cell>
        <mat-cell *matCellDef="let element">
          
         
            {{element.Location.substring(0,4)}}
        </mat-cell>
      </ng-container> -->
     

      <!-- <div *ngIf="item.hideme">
                <li *ngFor="let itemInn of returnAllAppoinrmrmnt(item.DateStart); let j = index">
                  <span class="glyphicon glyphicon-user" style="color:red"></span>{{itemInn.PatientDetails.FirstName}}&nbsp;&nbsp;[Sex:<span style="color:red">{{itemInn.PatientDetails.Gender=='1'?'M':'F'}}</span>]&nbsp;&nbsp;<span class="glyphicon glyphicon-phone-alt" style="color:red"></span>:<u>{{itemInn.PatientDetails.ContactNumber}}</u>
                </li>
    
              </div> -->
      <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

      <!-- <ng-container matColumnDef="Notes">
                    <mat-header-cell *matHeaderCellDef  mat-sort-header class="HeaderStyle"> Notes </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.Notes}} </mat-cell>
                  </ng-container> -->
      <!-- <ng-container matColumnDef="BusinessType">
                    <mat-header-cell *matHeaderCellDef  mat-sort-header class="HeaderStyle"><span style="color:red;">*</span> Revenue </mat-header-cell>
                    <mat-cell *matCellDef="let element"
                      [ngStyle]="{'color': getColor(element.BusinessType)}">
                      {{element.BusinessType}} &nbsp;<span *ngIf=getGreenMark(element.BusinessType)>&#10003;</span> <span *ngIf=getRedMark(element.BusinessType)>&#10003;</span></mat-cell>
                  </ng-container>
    
                  
                  <ng-container matColumnDef="ExpenseCategory">
                    <mat-header-cell *matHeaderCellDef  mat-sort-header class="HeaderStyle"> Category Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.ExpenseCategory}} </mat-cell>
                  </ng-container>
                   -->



      <!-- Action Column -->
      <!-- <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="HeaderStyle">
          <button class="btn btn-sm btn-success text-white actionButtonMain myButton" matTooltip="Add New Case"
            (click)="addEditExpenseItem(null,null)">
            <i class="fa fa-plus"></i> <span class="ml-1"> </span>New Case👆 &nbsp;
          </button>

        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="action-link"> <span class="mobile-label ">Action:</span>



          <button mat-icon-button color="accent" (click)="addEditExpenseItem(element,element.Home.FirstName)">
            <mat-icon matTooltip="Edit the entry" matTooltipPosition="below" aria-label="Edit">edit</mat-icon>
          </button>

          <button *ngIf="Role=='Admin' || Role=='SuperAdmin'" mat-icon-button color="accent"
            (click)="DeleteItem(element.UnqueID)">
            <mat-icon matTooltip="Delete the entry" matTooltipPosition="below" aria-label="Delete">delete</mat-icon>
          </button>

          
        </mat-cell>
      </ng-container> -->

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></mat-row>
    </mat-table>
    <mat-paginator #paginatorRef [pageSizeOptions]="[10,15, 20, 50, 100]"></mat-paginator>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
    <div class="row" *ngIf="false">
      <ul>
        <li><span style="color:red">* (P)</span> -Indicates that CASE is in Progress.</li>
        <li><span style="color:red">* (C)</span> -Indicates that CASE is Closed. No Modifiaction allowed.</li>
        <li><span style="color:red">* (Clear)</span> -Indicates No Due no Refund for the CASE. </li>
        <li><span style="color:red">* (Due)</span> -Payment needs to be collected from client for the CASE.</li>
        <li><span style="color:red">* (Ref)</span> -Fund needs to be returned to client for the CASE.</li>
        <li><span style="color:red">* (Final)</span> -This PathoLAB Test is completed and Report is ready for the
          CASE.This can can be printed.</li>
        <li><span style="color:red">* (Progress)</span> -This PathoLAB Test is in progress and findings are being
          entered for the CASE.</li>
        <li><span style="color:red">* (Pending)</span> -This PathoLAB Test is not yet started for the CASE.</li>
        <li><span style="color:green">* (Discharge)</span> -This will generate and print the complete history for the
          CASE and Patient experience.</li>
        <li><span style="color:red">* (Print Bill)</span> -This will print the receipt for he CASE.</li>

      </ul>
    </div>

  </div>
</div>

<!-- {{asyncPi|json}}
    --------------------------------

    {{asyncPipeNewModifyCase|json}} -->

<!-- {{labTestIndividual|json}}
    -----------------------------------------------
    {{asyncPi|json}} -->

<!-- <table>
      <tr *ngFor="let teacher of asyncPipeNewModifyCase; let ti=index">
        <td>{{teacher.UnqueID}}</td>
        <td>{{teacher.DateStart}}</td>
      </tr>
    </table> -->
  </form>