
 
<form [formGroup]="DoctorVisit" autocomplete="off">
 
    <div formArrayName="teachersDoctorVisit">
  
      <div *ngFor="let teacher of teachers().controls; let ti=index">
          <div  [formGroupName]="ti" class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
  <!-- {{referralMaster|json}} -->
              <mat-form-field fxFlex>
                <mat-label>Select a Doctor</mat-label>
                <mat-select formControlName="name" (selectionChange)="onBookChange($event)">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let expense of referralMaster" [value]="expense.FirstName">{{expense.FirstName}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex>
                <span matPrefix style="color:blue"></span>
                <textarea matInput placeholder="Doctor Advice" maxlength="300" #message formControlName="ExpenseDescription"></textarea>
            
                <!-- <textarea type="text" rows="5" formControlName="ExpenseDescription" class="form-control" placeholder="Doctor Advice"></textarea>
                <input type="text" value="100" matInput formControlName="ExpenseDescription" placeholder="{{DoctorVisitPlaceholder}}" -->
                
              </mat-form-field>
              <!-- <mat-form-field fxFlex>
                <span matPrefix style="color:blue">&#x20B9;. &nbsp;</span>
                <input type="number" value="100" matInput formControlName="Amount" placeholder="Expense Cost"
                (input)="oninputChange('')" >
                <mat-icon matSuffix>mode_edit</mat-icon>
              </mat-form-field> -->
              <mat-form-field fxFlex>
                  <mat-label>Date Time</mat-label>
                  <input type="text" readonly value="100" matInput formControlName="expDate" placeholder="Expense Description">
                
              </mat-form-field>
              
            <span style="color:#9F000F" class="btn">
              <button type="button" class="btn btn-sm btn-success" (click)="addTeacher()">
                  &#10003;&nbsp;Add</button>&nbsp;
              <button type="button" class="btn btn-sm btn-danger"
                  (click)="removeTeacher(ti)"> &#x2717;&nbsp;Del</button>&nbsp;
          </span>
                 
      
            </div>
   
          
      </div>
    </div>
   
    
  
  </form>