
.btn{display: inline-block; margin-right: 20px;}
.fill-space {
    flex: 1 1 auto;
}


.solution { padding: 15px;}

.HeaderStyle{
    height: 15px; background-color:#336699 ; color:#FFFFFF ;border: solid 1px #659EC7;
}
.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

/* .table-row {
    height: 20px !important;
  } */

  .mat-header-row {
    min-height: 25px;
    height: 25px !important;
    text-align: left;
    font-weight: bold;
    background-color:#a3bcd6 ; color:black ;border: solid 1px #80aecf;
  }
 .mat-row {
    min-height: 25px;
    /* height: 25px !important; */
    text-align: left;
    background-color:white ; color:#FFFFFF ;border: solid 1px #659EC7;
  }

  mat-form-field {
    padding-right: 1em;
   
  }

 

  input[type=text] {
    width: 90%;
    padding: 1px 1px;
    margin: 1px 0;
    box-sizing: border-box;
  }


  div.ex3 {
    background-color: rgb(220, 233, 238);
    width: 90%;
    height: 110px;
    overflow: auto;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
   
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 300px;
    width:100%;
    
  }
  .mat-column-itemName {
    flex: 0 0 40%;
  }
  app-calculator {
    display: block;
    background: #ccc;
    padding: 20px;
    width: 300px;
  }

  table {
    border-spacing: 0;
    }

    td,
    th {
    padding: 0.5em;
    }

    th {
    font-weight: bold;
    text-align: left;
    }

    thead th {
    background-color: #999;
    color: white;
    }

    td > div {
    float: right;
    }
@media screen and (max-width: 600px) {
/* thead th:not(:first-child) {
    display: none;
    content: "";
} */
thead th {
  display: none;
  content: "";
}
thead th:first-child {
  content: "first-child";
}
thead th:first-child:after {
    content: "Item Sale Entry";
}

td, th {
    display: block;
    width: 100% !important;
}
td:first-child {
    font-weight: bold;
}

td[data-th]:before {
    content: attr(data-th);
    border-radius: 10px 0px 0px 10px;
    font-weight: bold;
    min-width: 10rem;
    display: inline-block;
}
}

.mobile-label {
  display: none;
}

@media(max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
        font-weight: bold;
        vertical-align: top;
        text-align: top;
  }

  .mat-header-row {
    display: none;
    vertical-align: top;
  }

  .mat-row { 
    flex-direction: column;
    align-items: start;
    vertical-align: top;
    padding: 8px 24px;
  }
}

#users tr:nth-child(even){background-color: #f2f2f2;}
  
#users tr:hover {background-color: #ddd;}