<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>
<div class="about-section">
    <h2>Help/Information Page</h2> 
    </div>
  
  <h2 style="text-align:center">{{this.data1.name}}</h2>
  <div class="row">
    <div class="column1">
      <div class="card">
        <img src='{{this.data1.imageUrl}}'  alt="Jane" >
       
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        {{this.data1.description}}
            <p> </p>
            <p> </p>
        <div class="container">
          <h2>Designed By:</h2>
         
          <p>SYSTEMDICE </p>
          <p>contact@systemdice.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    

  </div>

<!-- <button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>
<div class="about-section">
    <h2>About Us Page</h2> {{data1|json}}
    <p>SYSTEMDICE</p>
    <p>SYSTEMDICE is a professional software, website development company based in India that endeavor on highly proficient, timely delivered and cost effective</p> 
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/assets/images/liku.PNG" alt="Jane" >
        <div class="container">
          <h2>Debasmit Samal</h2>
          <p class="title">Founder</p>
          <p>Started the company as Founder </p>
          <p>dsamal@systemdice.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/assets/images/deepak.PNG" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Deepak Das</h2>
          <p class="title">Founder</p>
          <p>Started the company as Founder </p>
          <p>ddas@systemdice.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="/assets/images/debasish.PNG" alt="John" style="width:100%">
        <div class="container">
          <h2>Debasish Mohant</h2>
          <p class="title">CEO</p>
          <p>Joined as CTO and became CEO.</p>
          <p>dmohant@systemdice.com.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div> -->
  