
    
 




<form  [formGroup]="teachersForm" (ngSubmit)="onSubmit()" id="frmIndividualLapReport">
    <div style="border-style:solid; margin-left:5px; margin-right:5px;">
        <div>
            <h3 style="text-align:center; padding-bottom:10px;">
                {{Addressline1}}<br />
                {{Addressline2}}<br />
                {{Addressline3}}<br />
                {{Addressline4}}<br />

            </h3>


        </div>
        <div class="container" style="text-align:right;">
            <div class="row">
                <div class="col-sm-12">
                    <ngx-barcode *ngFor="let bcValue of values" [bc-value]="bcValue" [bc-width]="1" [bc-height]="30">
                    </ngx-barcode>


                </div>
            </div>
        </div>
        <!-- {{caseData|json}} -->
        <hr class="noPaddingMargin">
        <p style="text-align:center;">
            <b>Bill No.</b>:BNS{{caseData?.UnqueID.substring(3)}}

        </p>

        <hr style="margin-bottom:1px; margin-top:0px;">

        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p style="text-align:left;">
                        <b>Reg.no: </b>{{caseData?.UnqueID}}<br />
                        <b>Name: </b>{{ caseData?.Home?.FirstName?.substring(0,1) |
                        uppercase}}{{caseData?.Home?.FirstName?.substring(1)}} {{ caseData?.Home?.LastName?.substring(0,1)
                        | uppercase}}{{caseData?.Home?.LastName?.substring(1)}} <br />
                        <b>Age/Sex:</b>{{caseData?.Home.Year}}&nbsp;Yr&nbsp;{{caseData?.Home.Month}}&nbsp;Mon&nbsp;{{caseData?.Home.Days}}&nbsp;Days/&nbsp;{{caseData?.Home.Gender=='2'?'Female':'Male'}}<br />
                        <b>Mobile No:</b>{{caseData?.Home.ContactNumber}}<br />
                        <b>Email:</b>{{caseData?.Home.Email}}<br />
                        <b>Address:</b>{{caseData?.Home.Address}}
                    </p>
                </div>
                <div class="col-sm-5">
                    <p style="text-align:right;">
                        <b>Referred By:</b>{{caseData?.TestNameWithCase.RefferDoctorName}}<br />
                        <b>Date:</b>{{caseData?.DateStart}}<br />
                        <b>Sample Collected at:</b>{{caseData?.TestNameWithCase.CollectionCenter}}<br />
                        <b>Received By:</b>{{this.teachersForm.value.CreatedBy}}
                    </p>
                </div>
            </div>
        </div>
        <hr class="noPaddingMargin" />
        <div>

            <div class="container" *ngFor="let MainData of LabTestIndividualArray; let ti=index" style="background-color:#e7e4e4 ; padding-top:10px;">
                <div class="row">
                    <h3>&nbsp;&nbsp;&nbsp;LAB: Test Name:{{MainData.TestName}}, (Category
                        :{{MainData.CategoryName}})</h3>
                </div>
                <hr class="noPaddingMargin" />

                <div >
                    <!-- sysdice  {{found}} -->
                    <table style="width:100%">
                        <tr>
                            <th width="5%">SlNo.</th>
                            <th width="25%">Test</th>
                            <th width="20%">Value</th>
                            <th width="20%">&nbsp;Unit</th>
                            <th width="20%">Reference(Min to Max)</th>
                            <th width="5%"></th>
                        </tr>
                        <tr *ngFor="let teacher of MainData?.test; let ti=index" >

                            <td>{{ti+1}}.</td>
                            <td>{{teacher.ParamterName}}</td>

                            <td>
                                {{teacher.InputValue}}

                            <td>&nbsp;{{teacher.Unit}}</td>
                            <td *ngIf='data11 != undefined'>{{myval(MainData.CategoryName,MainData.TestName,caseData?.Home?.PatientCategory,ti)}}</td>
                            <td>
                                <!-- <mat-form-field fxFlex>
                                    <input type="text" style="background-color: white;height:22px;font-size: medium;" matInput
                                        formControlName="GeneralRef" placeholder="GeneralRef">
                                </mat-form-field> -->
                                <!-- {{myval(caseData?.Home?.PatientCategory,ti)}} -->
                            </td>
                            <td>
                                <!-- <span style="color:#9F000F" class="btn">
                                    <button type="button" class="btn btn-sm btn-danger" (click)="removeTeacher(ti)">
                                        &#x2717;&nbsp;Delete</button>&nbsp;
                                   
                                </span> -->
                                <!-- <button type="button" (click)="addTeacher()">Add Teacher</button>
                                        <button (click)="removeTeacher(ti)">Remove</button>  -->
                            </td>

                            <!-- <hr class="noPaddingMargin" /> -->

                        </tr>
                        <tr>
                            <td colspan="6">
                                Doctor Remarks:&nbsp;<i>{{MainData.MoreDetails.trim().length <1?'NA':MainData.MoreDetails.trim()}}</i>
                                <hr class="noPaddingMargin" />
                            </td>

                        </tr>

                    </table>

                </div>
                <!-- <div>
                    {{MainData.MoreDetails}}
                </div> -->

                <!-- {{teachersForm.value|json}} -->


                <!-- {{this.caseData|json}}
--------------------------------

                {{this.teachersForm.value | json}} -->

            </div>









            <hr class="noPaddingMargin" />
<br/>
            <div class="container" *ngIf="finalSave">
                <div class="row">
                    <div class="col-sm-6">
                        <p style="text-align:left;">
                            <b>Place By:</b><br />
                            <b>Date:</b>{{myDate}}<br /><br />                           
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p style="text-align:right;">
                            <b></b>
                            <br />
                            <b>Signature:&nbsp;</b><img src="/assets/images/signDoctor.png" alt="add" width="50" height="24"><br />                           
                        </p>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-3" style="float:right;">
                        <label id="printCheckElement" style="display: inline-block;float:left;">
                            <input type="checkbox" (change)="fieldsChange($event)" />
                            Show header on each page
                          </label>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" id="printElement"  *ngIf="finalSave" (click)="myPrint('frmIndividualLapReport')" class="btn btn-info"><span
                                class="glyphicon glyphicon-print" ></span>
                            Print</button>
                            &nbsp;<button type="button" style="display: inline-block;float:left;"  id="CloseMe"  (click)="CloseMe()" class="btn btn-info"><span
                                class="glyphicon glyphicon-print" ></span>
                            Close Me</button>
                    </div>
                    
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-1">
                    </div>


                    
                </div>

                
            </div>

            


        </div>
        <br />
    </div>
    <br />

</form>

<!-- {{data11|json}} -->

