<div class="row" style="text-align: center;">
    <img src="/assets/banner.PNG" alt="add" width="100%" height="100px" style="align-items: center;">
</div>


<div *ngFor="let key of objectKeys(product)">

    <div class="btn-lg">
        <span class="glyphicon glyphicon-record" style="font-size: x-small;"></span> <b> {{key| titlecase }} :</b>
        &nbsp; {{product[key]}}
        <hr style="padding:0px;margin:0px;" />
    </div>

</div>

<button (click)="details=!details">show/hide the json</button>

  <div *ngIf="details" fxLayout="row wrap">
    {{ product | json }}
  </div>
